<div class="page-header">

      			<h1>Class Management</h1>
      			</div ng-controller="PostCtrl">

      			<!-- displaying posts on home page -->
					<div ng-repeat="post in posts">

						<span class="glyphicon glyphicon-thumbs-up" ng-click="incVotes(post)"></span>
								{{post.upvotes}}

						<span style="font-size:20px; margin-left:10px;">

						     <a ng-show="post.link" href="{{post.link}}">
						            {{post.title}}
						     </a>

						     <span ng-hide="post.link">
						            {{post.title}}
						     </span>
					   </span>

					    <span>
					     <!-- link to the a single post and associated comments  -->
							 <a href="#/posts/{{$index}}">Comments</a> 
						</span>
					</div>
						<!-- <ui-view></ui-view> -->
						
						<hr>
			
</div>
			<!-- add posts -->
		<form ng-submit="addPost()" style="margin-top:30px;">
			
				<center>
					<h3>Add a new Post</h3>
				  <div style="width :500px">	
					<div class="form-group">
			          <input type="text"
			            class="form-control"
			            placeholder="Title"
			            ng-model="title">
			          </input>
		            </div>


		            <div class="form-group ">
			          <input type="text"
			          class="form-control"
			          placeholder="Link"
			          ng-model="link">
			          </input>
		            </div>
		           </div>

						
						
				<button type="submit" class="btn btn-primary">Addpost</button>	

			</center>	
	</form>